@page "/"


<AuthorizeView Roles="EthereumConnected">
	<Authorized>
		<div align="center">
			<img src="res/present_alargado.jpg" style="width: 1300px" />
			<br />
			<br />
			<Button Type="primary" OnClick="NewGameAsync">NEW GAME!</Button>
		</div>

		<div align="center" style="margin: 3rem;">
			@foreach (var game in games)
			{
				<Button Type="primary" OnClick="_ => PlayGame(game)">Play Game @game.Id</Button>
			}
		</div>
		@if (currentGame is not null)
		{
			<Play Contract="zkillerGameService" Game="currentGame"></Play>
		}
	</Authorized>
	<NotAuthorized>

		<div align="center">
			<img src="res/logozkiller.png" style="max-width:300px; height: auto;" />
			<h2>¿Ready to play? Connect to Scroll!.</h2>
			<br />
			<Button Type="primary">LOGIN!</Button>
		</div>

	</NotAuthorized>
</AuthorizeView>



<div align="center">
	<br />
	<br />
	<img src="res/lpoweredByScroll.jpg" style="max-width: 250px; height: auto;" />
</div>

