@page "/"




<div align="center">
	<img src="res/logozkiller.png" style="max-width: 200px; height: auto;" />
</div>

<AuthorizeView Roles="EthereumConnected">
	<Authorized>

		<Button Type="primary" OnClick="NewGameAsync">New Game</Button>
		@foreach (var game in games)
		{
			
			<Button Type="primary" OnClick="_ => PlayGame(game)">Play Game @game.Id</Button>
		}
		@if (currentGame is not null)
		{
			<Play Contract="zkillerGameService" Game="currentGame"></Play>
		}
	</Authorized>
	<NotAuthorized>


	</NotAuthorized>
</AuthorizeView>




