Game @Game.Id
Turn @Game.Info.Turn
Status @Game.Info.Status

<div style="display: flex; flex-direction: column; gap: 1rem;">
	@if (Game.Info.Status == 0)
	{
		@if (alreadyVote)
		{
			<div>Waiting for turn end</div>
		}
		else
		{
			@if (players is not null)
			{
				@foreach (var player in players)
				{
					@if (!IsPlayerAddress(player))
					{
						<Button OnClick="_ => VoteAsync(player)">Vote @player</Button>
					}
				}
			}
		}
	}
	else if (Game.Info.Status == 1)
	{
		<div>People Win</div>
	} else
	{
		<div>ZKiller Win</div>
	}
</div>

